body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}



.calculator {
    margin-top: -50%;
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #0b6ac2;
    border: 2px black solid;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 10px 20px, rgba(0, 0, 0, 0.33) 0px 6px 6px;
}

.display-box {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dcdbe1;
    border: solid black 3px;
    color: black;
    border-radius: 10px;
    width: 90%;
    height: 70%;
    font-size: 20px;
}

#btn {
    background-color: rgb(218, 12, 142);
    width:100%;
    border: solid black 2px;
    /*margin-bottom: 5px;*/
}

#sym
{
    background-color: rgb(118, 12, 218);
    width: 120%;
    border: solid black 2px;
    margin-right: 10px;
}

#equals
{
    background-color: rgb(218, 12, 142);
    border: solid black 2px;
}

input[type=button] {
    margin-top: 10px;
    font-family: 'Orbitron', sans-serif;
    background-color: #278f56;
    color: white;
    border: solid black 2px;
    width: 70%;
    border-radius: 10px;
    height: 70%;
    outline: none;
    font-size: 18px;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}


